@media (max-width: 991px) {
	.visible-lg {
		display: none;
	}

	.preTableText {
		width: 80%;
		font-size: 5rem;
	}
	nav{
		justify-content: space-between;
		height: 200px;
		z-index: 6;
	}
	.fa-2x{
	font-size: 8rem;
	}
	.m-menu-link {
		display: block;
	}
	.logo {
		font-size: 6rem;
	}
	.m-menu li a {
		font-size: 8rem;
	}
	.m-menu li {
		margin-top: 40px;
	} 
	.close-menu {
		font-size: 10rem;
	}
	.header-text {
		margin-top: -100px;
	}
	.header-text h1{
		font-size: 20rem;
	}
	.header-text p {
		font-size: 8rem;
		text-align: center;
	}
	.price-title h2 {
		font-size: 10rem;
	}
	.price-title hr {
    	max-width: 350px;
	}
	.service-title h2 {
		font-size: 10rem;
	}
	.service-title hr {
	    max-width: 350px;
	}
	.service-p {
		font-size: 4.4rem;
	}
	#service {
		height: 800px;
	}
	.service {
		text-align: center;
	}
	.galery-title h2 {
		font-size: 10rem;
	}
	.galery-title hr {
	    max-width: 350px;
	}
	footer {
		padding: 40px;
	}
	footer p {
		font-size: 4rem;
	}
	.addr {
		font-size: 5rem;
	}
	.tel {
		font-size: 5rem;
		text-align: center;
	}
	#up-btn {
		width: 100px;
		height: 100px;
		line-height: 150px;
	}
	.price-table > thead > tr > th {
		font-size: 5rem;
	}
	.price-table > tbody > tr > td {
		font-size: 5.2rem;
	}
	.table-wrapper h3 {
		font-size: 4.5rem;
	}
	.wheel {
		font-size: 4rem;
	}
	.wheel-table > thead > tr > th {
		font-size: 3rem;
	}
	.wheel-table > tbody > tr > td {
		font-size: 3rem;
	}
	.slider {
		margin-top: 40px;
	}
	.slider{
	    width: 90%;
	    position: relative;
	    height: 700px;
	    margin: 0 auto;
	}
	.slider .item img {
		width: 100%;
		height: 700px;
		object-fit: cover;
	}
	.prev, .next {
		font-size: 10rem;
	}
	.dots_item {
		width: 40px;
		height: 40px;
	}
}
